* {
    margin: 0px;
    padding: 0%;
}

body {
    background-image: linear-gradient(to bottom, #bebebe, rgb(0, 0, 0));
    text-align: center;
    height: 100%;
}

header {
    display: grid;
    padding: 5px;
}

#menu-bar {
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bt:hover {
    font-size: 24px;
    background-color: #007c0a54;
    border-radius: 5px;
    color: white;
}

.logo {
    width: 30vh;
    margin-left: 5vh;
}

.menu-icon {
    margin-right: 5vh;
    width: 25px;
    height: 25px;
}

.menu-icon:hover {
    width: 35px;
    height: 35px;
}

.frase {
    padding: 5px;
}

.produtos {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.camiseta {
    width: 250px;
    border-radius: 10px;
    border: 2px solid#000000;
    
}
.camiseta:hover {
    width: 270px;
    border: 2px solid#007c0a;
}
footer {
    background-color: #000000;
    color: white;
    padding: 5px;
}